@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

/* Global styles */

:root{
  --main-salmon: #e95b42;
  --main-dkBlue: #122d45;
  --main-beige: #f6f2e8;
  --main-font:'Abyssinica SIL', serif;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  color: var(--main-dkBlue);
  font-family: var(--main-font);
}

/* Headers on main components */
.recipes h1, .full-recipe h2{
  text-decoration: var(--main-salmon) underline;
}

button {
  background-color: var(--main-salmon);
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  
}

button:hover{
  font-weight: bold;
  transform: scale(1.1);
  cursor: pointer;
}


/*------------ NAVBAR -------- */
.nav {
  width: 100vw;
  display: flex;
  justify-content: left;
  align-items:left;
  flex-direction: row;
  background-color: rgba(245, 239, 239, 0.6);
	backdrop-filter: blur(5px);
  position: fixed;
  z-index: 2;
  max-width: 1600px;
  
 
}

.nav a{
  color: var(--main-dkBlue);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 25px 0; 
  margin: 0 25px;
  transition: 0.2s ease-in-out;
  

}

.nav a:hover{
  text-decoration: underline 2px solid var(--main-salmon);
  transform: scale(1.1);
  cursor: pointer;
 
}

.nav a:active{
  text-decoration: underline 2px solid var(--main-salmon);
}


/*------- HOME ------- */
.home{
  height: 100vh;
  width: 100vw;
  padding: none;
  margin: none;
  max-width: 1600px;
  max-height: 1200px;  
  background-image: url("./images/meal-mariana-medvedeva-unsplash.jpg");
  background-position: top -200px right 0px; 
  background-repeat: no-repeat; 
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.home-info{
  width: 30vw;
  max-width: 500px;
  color: var(--main-dkBlue);
  background-color: rgba(245, 239, 239, 0.7);
	backdrop-filter: blur(5px);
	padding: 2rem;
  border: 4px solid var(--main-dkBlue);
  border-radius: 4px;
  font-weight: bold;

}
.home-info p{
  margin: 0 auto 25px auto;
  width: 20vw;
 
}

/*-------- SEARCH --------*/
.searchbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-image: url("/src/images/calum-lewis-vA1L1jRTM70-unsplash.jpg");
  background-position: top 86% right 0; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  padding: 50px 0;
  margin: 0 auto;
  max-width: 1600px;

}

.searchbar input, .submit-btn{
  box-shadow: 4px 4px 20px #d3d0d0;
}

.searchbar label{
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  
}

.searchbar input{
  margin: 5px 10px;
  padding: 8px;
  width: 180px;
  border: 2px solid var(--main-dkBlue);
  border-radius: 4px;

}

.submit-btn{
  color: var(--main-salmon);
  background-color: var(--main-beige);
  border: 2px solid var(--main-salmon);
  margin: 2px;
  padding: 8px;
}



/*------RECIPE & FAVORITES --------*/

.recipes{
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
}

.recipes h1{
  padding: 80px 0 0 0;
  
}

.recipe-list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1200px;
}

.recipe-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--main-beige);
  margin: 5px 10px;
  border: solid var(--main-dkBlue) 3px;
  border-radius: 4px;
  padding: 5px 15px;
  width: 180px;
  max-width: 200px;
  box-shadow: 10px 10px 8px #d3d0d0;
}

.recipe-card img{
  height: 180px;
  border-radius: 4px;
  margin: 10px 0;
  
}

.recipe-btn{
  color: var(--main-salmon);
  background-color: var(--main-beige);
  font-weight: bold;
}
.favorite-btn-active{
  background-color: var(--main-dkBlue);
}

.show-more-btn{
  color: var(--main-salmon);
  background-color: var(--main-beige);
  border: 1px solid var(--main-salmon);
  margin: 50px;
}

/* ------------FULL RECIPE COMPONENT----------- */

.loading{
  padding: 180px 20px;
}
.full-recipe{
  background-image: url("/src/images/ryan-christodoulou-68CDDj03rks-unsplash.jpg");
  background-position: top 27% right 0; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
  padding: 100px 50px;
  height: 100vh;
  width: 100vw;
  max-width: 1600px;
    
}

.full-recipe-card{
  width: 40vw;
  margin: 0 auto;
  max-width: 500px;
  background-color: rgba(245, 239, 239, 0.6);
	backdrop-filter: blur(5px);
	padding: 2rem;
  border: 4px solid var(--main-dkBlue);
  border-radius: 4px;
  font-weight: bold;
}

.full-recipe img{
  border: 2px solid var(--main-dkBlue);
  border-radius: 4px;
  margin: 15px 0px;
  width: 30vw;
  max-width: 400px;
}

.ingredient-list{
  list-style-type: none;
  padding: 10px;
  
}

.full-recipe button{
  margin-bottom: 50px;
}

