.App {
  text-align: center;
}

.recipe-list {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.recipe-card {
  margin: 5px 10px;
  border: solid grey 3px;
  padding: 5px 5px;
  max-width: 300px;
}